<div class="barraSinistra">
  <img src="assets/immagini/icons/icona_INDIETRO.png" class="icona" (click)="clickIndietro()"  />
</div>

<div class="barraDestra">
  <img src="assets/immagini/icons/icona_AVANTI.png" class="icona" (click)="clickAvanti()"  />
</div>

<div class="centrale">
  <img *ngIf="immagineAttuale" class="ombra" [src]="immagineAttuale.UrlImmagine"
    [style.margin-top.px]="margineY"
    [style.width.px]="dimeXImmagine" [style.height.px]="dimeYImmagine" />
</div>

<div *ngIf="info && immagineAttuale" class="informazioni">
  <div class="casellaInfo">Id:</div>
  <div class="casellaInfo">{{immagineAttuale.idImmagine}}</div>
  <div class="casellaInfo">- Categoria:</div>
  <div class="casellaInfo">{{immagineAttuale.Categoria}}</div>
  <div class="casellaInfo">- Cartella:</div>
  <div class="casellaInfo">{{immagineAttuale.Cartella}}</div>
  <div class="casellaInfo">- Nome File:</div>
  <div class="casellaInfo">{{immagineAttuale.NomeFile}}</div>
  <div class="casellaInfo">- Dimensione File:</div>
  <div class="casellaInfo">{{immagineAttuale.DimensioneFile}}</div>
  <div class="casellaInfo">- Size:</div>
  <div class="casellaInfo">{{immagineAttuale.DimensioniImmagine}}</div>
  <div class="casellaInfo">- Creazione:</div>
  <div class="casellaInfo">{{immagineAttuale.DataCreazione}}</div>
  <div class="casellaInfo">- Ultima Modif.:</div>
  <div class="casellaInfo">{{immagineAttuale.DataModifica}}</div>
  <div *ngIf="immagineAttuale.ImmaginiCategoria && immagineAttuale.ImmaginiCategoria > 0" class="casellaInfo">- Imm. Categoria:</div>
  <div *ngIf="immagineAttuale.ImmaginiCategoria && immagineAttuale.ImmaginiCategoria > 0" class="casellaInfo">{{immagineAttuale.ImmaginiCategoria}}</div>

  <div class="bottoneChiusura">
    <img src="assets/immagini/icons/icona_INDIETRO.png" class="iconaMenu" (click)="cambiaVisuaInfo(false)" />
  </div>
</div>

<div *ngIf="!info && immagineAttuale" class="informazioniChiuse">
  <div class="bottoneChiusura">
    <img src="assets/immagini/icons/icona_AVANTI.png" class="iconaMenu" (click)="cambiaVisuaInfo(true)" />
  </div>
</div>

<div class="categorie">
  <label for="categorie">Categoria:</label>&nbsp;
  <select name="categorie" id="categoria" [(ngModel)]="idCategoriaSelezionata" (change)="cambioCategoria(idCategoriaSelezionata)">
    <option *ngFor="let c of Categorie" value="{{c.idCategoria}}">{{c.Categoria}}</option>
  </select>
</div>

<div class="menu">
  <div class="bottoneMenu">
    <img src="assets/immagini/icons/hamburger.png" class="iconaMenu" (click)="clickMenu()" />
  </div>
</div>

<div *ngIf="staCaricando" class="attesa">
  <img src="assets/immagini/icons/please_wait.gif" class="attesaGif" />
</div>

<div *ngIf="menu" class="menuFinestra ombra">
  <ul>
    <li>
      <div style="width: 35px; float: left;">
        <img src="assets/immagini/icons/icona_REFRESH.png" class="iconaMenu" (click)="refreshImmagini()" />&nbsp;
      </div>
      <div style="width: calc(100% - 35px); padding-top: 7px; float: left;">
        Refresh Immagini categoria
      </div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <div style="width: 35px; float: left;">
        <img src="assets/immagini/icons/icona_CERCA.png" class="iconaMenu" (click)="mascheraFuoriCategoria = true" />&nbsp;
      </div>
      <div style="width: calc(100% - 35px); padding-top: 7px; float: left;">
        Trova Immagini fuori categoria
      </div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <div style="width: 35px; float: left;">
        <img src="assets/immagini/icons/icona_CERCA.png" class="iconaMenu" (click)="mascheraUguali = true" />&nbsp;
      </div>
      <div style="width: calc(100% - 35px); padding-top: 7px; float: left;">
        Trova Immagini uguali
      </div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <div style="width: 35px; float: left;">
        <img src="assets/immagini/icons/icona_CERCA.png" class="iconaMenu" (click)="mascheraNuoveCategorie = true; ricercaNuoveCategorie()" />&nbsp;
      </div>
      <div style="width: calc(100% - 35px); padding-top: 7px; float: left;">
        Trova Nuove Categorie (Nella categoria attuale)
      </div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <div style="width: 35px; float: left;">
        <img src="assets/immagini/icons/icona_CERCA.png" class="iconaMenu" (click)="ricercheCategoria = true" />&nbsp;
      </div>
      <div style="width: calc(100% - 35px); padding-top: 7px; float: left;">
        Ricerche
      </div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <div style="width: 35px; float: left;">
        <img src="assets/immagini/icons/icona_equalizz.png" class="iconaMenu" (click)="mascheraSistemazioni = true" />&nbsp;
      </div>
      <div style="width: calc(100% - 35px); padding-top: 7px; float: left;">
        Effettua Sistemazioni
      </div>
      <div style="clear: both;"></div>
    </li>
    <li><hr /></li>
    <li>
      <div style="width: 15%; float: left;">
        Filtro
      </div>
      <div style="width: 83%; float: left;">
        <input type="text" [(ngModel)]="Filtro" style="width: 100%;" (focusout)="uscitaFiltroTesto()" />
      </div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <div style="width: 15%; float: left;">
        Random
      </div>
      <div style="width: 83%; float: left;">
        <input type="checkbox" [checked]="Random == 'S'" (change)="cambiaRicRandom()"/>
      </div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <div style="width: 35px; float: left;">
        <img src="assets/immagini/icons/icona_equalizz.png" class="iconaMenu" (click)="spostaACategoria()" />&nbsp;
      </div>
      <div style="width: calc(50% - 35px); padding-top: 7px; float: left;">
        Sposta a categoria
      </div>
      <div style="width: calc(50% - 35px); padding-top: 7px; float: left;">
        <select name="categorie" id="categoria2" style="width: 100%;" [(ngModel)]="idCategoriaSelezionataPerSpostamento" (click)="cambioCategoriaPerSpostamento()">
          <option *ngFor="let c of Categorie" value="{{c.idCategoria}}">{{c.Categoria}}</option>
        </select>
      </div>
      <div style="clear: both;"></div>
    </li>
    <li>
      <div style="width: 35px; float: left;">
        <img src="assets/immagini/icons/elimina_quadrato.png" class="iconaMenu" (click)="eliminaImmagineImpostata(immagineAttuale, 'HTML')" />&nbsp;
      </div>
      <div style="width: calc(100% - 35px); padding-top: 7px; float: left;">
        Elimina
      </div>
      <div style="clear: both;"></div>
    </li>
  </ul>

  <div class="bottoneChiusura">
    <img src="assets/immagini/icons/elimina_quadrato.png" class="iconaMenu" (click)="menu = false" />
  </div>
</div>

  <div *ngIf="mascheraFuoriCategoria" class="mascheraFuoriCategoria ombra">
    <div style="width: calc(100% - 50px);">
      <table style="width: 100%;">
        <tr>
          <td>
            Alias Nome File
          </td>
          <td style="text-align: right; white-space: nowrap;">
            <input type="text" [(ngModel)]="aliasPerFC1" style="width: 95%;" />
          </td>
          <td>
            <img src="assets/immagini/icons/icona_SALVA.png" class="iconaMenu" (click)="salvaAlias()" />
          </td>
        </tr>
        <tr>
          <td>
            Alias Maschera
          </td>
          <td style="text-align: right; white-space: nowrap;">
            <input type="text" [(ngModel)]="aliasPerFC2" style="width: 95%;" />
          </td>
          <td>
            <img src="assets/immagini/icons/icona_SALVA.png" class="iconaMenu" (click)="salvaAlias()" />
          </td>
        </tr>
        <tr>
          <td><span *ngIf="ricercaPerAnd">And</span><span *ngIf="!ricercaPerAnd">Or</span></td>
          <td><input type="checkbox" [checked]="ricercaPerAnd" (change)="cambiaRicAnd()"/></td>
        </tr>
        <tr>
          <td style="white-space: nowrap;">Filtro Completo</td>
          <td style="text-align: left; white-space: nowrap;"><input type="checkbox" [checked]="ricercaPerCarattere" (change)="cambiaRicCarattere()"/></td>
        </tr>
        <tr *ngIf="!ricercaPerCarattere">
          <td style="white-space: nowrap;">
            Num. Caratteri
          </td>
          <td>
            <input type="number" [(ngModel)]="CaratteriRicerca" style="width: 30px" (change)="cambioCaratteri()" />
          </td>
        </tr>
      </table>
    </div>

    <div class="bottoneChiusura" style="margin-top: 35px;">
      <img src="assets/immagini/icons/icona_CERCA.png" class="iconaMenu" (click)="immaginiFuoriCategoria()" />
    </div>

    <div class="bottoneChiusura">
      <img src="assets/immagini/icons/elimina_quadrato.png" class="iconaMenu" (click)="mascheraFuoriCategoria = false" />
    </div>
  </div>

  <div *ngIf="bImmaginiFuoriCategoria" class="immaginiFuoriCategoria ombra" style="overflow: hidden;">
    <ricerche
      [dimensioniSchermo]="dimensioniSchermo"
      [immaginiRilevate]="immaginiRilevateFuoriCategoria"
      [idCategoriaSelezionata]="idCategoriaSelezionata"
      [immagineAttuale]="immagineAttuale"
      [Categorie]="Categorie"

      (ricaricaImmagini)="immaginiFuoriCategoria()"
      (caricaProssimaImmagine)="caricaProssimaImmagine()"
    >
    </ricerche>

    <div class="bottoneChiusura">
      <img src="assets/immagini/icons/elimina_quadrato.png" class="iconaMenu" (click)="bImmaginiFuoriCategoria = false" />
    </div>
  </div>

  <div *ngIf="mascheraUguali" class="mascheraUguali">
    <div style="width: calc(100% - 35px); height: 100%; border-right: 1px solid #999;">
      <div style="width: calc(100% - 4px); height: 27px; padding: 2px; border-bottom: 1px solid #999; float: left; overflow: auto;">
        <table [cellPadding]="0" [cellSpacing]="0" style="width: 100%; font-family: math; font-size: 14px;">
          <tr style="background-color: #ebe8cb;">
            <td style="width: 16%; white-space: nowrap; border-right: 1px solid #999; overflow: hidden;"><b>Metodo di ricerca</b></td>
            <td style="width: 16%; white-space: nowrap; border-right: 1px solid #999; overflow: hidden;">
              <input name="options" type="radio" [value]="1"  [(ngModel)]="tipoRicercaUguali" (click)="cambioTipoUguali(1)" >&nbsp;
              Data
            </td>
            <td style="width: 16%; white-space: nowrap; border-right: 1px solid #999; overflow: hidden;">
              <input name="options" type="radio" [value]="2"  [(ngModel)]="tipoRicercaUguali" (click)="cambioTipoUguali(2)" >&nbsp;
              Dimensioni
            </td>
            <td style="width: 16%; white-space: nowrap; border-right: 1px solid #999; overflow: hidden;">
              <input name="options" type="radio" [value]="3"  [(ngModel)]="tipoRicercaUguali" (click)="cambioTipoUguali(3)" >&nbsp;
              Exif
            </td>
            <td style="width: 16%; white-space: nowrap; border-right: 1px solid #999; overflow: hidden;">
              <input name="options" type="radio" [value]="4"  [(ngModel)]="tipoRicercaUguali" (click)="cambioTipoUguali(4)" >&nbsp;
              Hash
            </td>
            <td style="width: 16%; white-space: nowrap; border-right: 1px solid #999; overflow: hidden;">
              <input name="options" type="radio" [value]="5"  [(ngModel)]="tipoRicercaUguali" (click)="cambioTipoUguali(5)" >&nbsp;
              Nome File
            </td>
            <td style="width: 3%; white-space: nowrap; text-align: center; overflow: hidden;">
              <img src="assets/immagini/icons/icona_CERCA.png" class="iconaUguali" (click)="esegueRicercaUguali()" />
            </td>
          </tr>
        </table>
      </div>
      <div style="width: 100%; height: calc(100% - 35px); float: left;">
        <div style="width: 25%; padding: 2px; float: left; height: 100%; border-right: 1px solid #999; overflow: auto;">
          <div *ngFor="let c of immaginiUguali" style="width: 100%; overflow: hidden; cursor: pointer; font-family: math; font-size: 12px; white-space: nowrap;" 
            (click)="rigaSelezionataUguali(c)" [style.color]="c.Premuto ? 'red' : 'black'"
            [style.background-color]="c.Pari ? 'transparent' : '#fff9d5'"
          >
            <div style="width: 30px; float: left; text-align: center;">{{c.Conteggio}}</div>
            <div style="width: calc(100% - 30px); float: left;">{{c.Valore}}</div>
          </div>
        </div>
        <div style="width: calc(75% - 12px); float: left; padding: 2px; height: 100%; overflow: auto;">

          <div style="width: 100%; height: 100%;">
            <!-- <div style="width: 100%;
              height: 15px;
              text-align: center;
              overflow: hidden;
              white-space: nowrap;
              font-family: math;
              font-size: 10px;
              border-bottom: 1px solid #999;
              background-color: aliceblue;">
              {{filtroUguali}}
            </div> -->
            <div style="width: 100%; height: 100%; overflow: hidden;">

              <!-- (esegueSpostamentoImmagine)="esegueSpostamento()"
              (visualizzazioneImmagine)="visualizzaImmagine($event)"
              (eliminazioneImmagine)="eliminaImmagine($event)"
              (spostamentoImmagine)="spostaImmagineACategoriaDaFC1($event)" -->
              <ricerche
                [dimensioniSchermo]="dimensioniSchermo"
                [immaginiRilevate]="immaginiUgualiConFiltro"
                [idCategoriaSelezionata]="idCategoriaSelezionata"
                [immagineAttuale]="immagineAttuale"
                [Categorie]="Categorie"

                (caricaProssimaImmagine)="caricaProssimaImmagine()"
              >
              </ricerche>
            </div>
          </div>
      
        </div>    
      </div>
    </div>
    <div style="clear: both;"></div>

    <div class="bottoneChiusura">
      <img src="assets/immagini/icons/elimina_quadrato.png" class="iconaMenu" (click)="mascheraUguali = false" />
    </div>  
  </div>

  <div *ngIf="ricercheCategoria" class="ricercheCategoria ombra">
    <div style="width: 100%; height: 30px; float: left; border-bottom: 1px solid #999;">
      <table [cellPadding]="0" [cellSpacing]="0" style="width: 100%; font-family: math; font-size: 14px;">
        <tr>
          <td>
            <b>Immagini Categoria</b>
          </td>
          <td>
            Filtro
          </td>
          <td><span *ngIf="ricercaPerAnd2">And</span><span *ngIf="!ricercaPerAnd2">Or</span></td>
          <td><input type="checkbox" [checked]="ricercaPerAnd2" (change)="cambiaRicAnd2()"/></td>
          <td>
            <input type="text" [(ngModel)]="FiltroCategoria" style="width: 100%;" />
          </td>
          <td style="text-align: center;">
            <img src="assets/immagini/icons/icona_CERCA.png" class="iconaMenu" (click)="immaginiCategoria()" />
          </td>
        </tr>
      </table>
    </div>
    <div style="width: 100%; height: calc(100% - 30px); float: left; overflow: hidden;">
      <ricerche
        [dimensioniSchermo]="dimensioniSchermo"
        [immaginiRilevate]="immaginiRilevateCategoria"
        [idCategoriaSelezionata]="idCategoriaSelezionata"
        [immagineAttuale]="immagineAttuale"
        [Categorie]="Categorie"

        (ricaricaImmagini)="immaginiCategoria()"
        (caricaProssimaImmagine)="caricaProssimaImmagine()"
      >
      </ricerche>
    </div>

    <div class="bottoneChiusura" style="top: 0px !important;">
      <img src="assets/immagini/icons/elimina_quadrato.png" class="iconaMenu" (click)="ricercheCategoria = false" />
    </div>  
  </div>
  
  <div *ngIf="mascheraNuoveCategorie" class="mascheraNuoveCategorie ombra">
    <div style="width: 25%; float: left; height: 100%; border-right: 1px solid #999; overflow: auto;">
      <table style="width: 100%; font-family: Math; font-size: 14px;">
        <tr *ngFor="let c of nuoveCategorie" style="cursor: pointer;" (click)="selezioneNuovaCategoria(c)" [style.color]="c.Premuto ? 'red' : 'black'"
          [style.background-color]="c.Pari ? 'transparent' : '#fff9d5'">
          <td>{{c.Quante}}</td>
          <td>{{c.Categoria}}</td>
        </tr>
      </table>
    </div>
    <div style="width: calc(75% - 35px); float: left; height: 100%; overflow: hidden;">
      <ricerche
        [dimensioniSchermo]="dimensioniSchermo"
        [immaginiRilevate]="nuoveCategorieFiltro"
        [idCategoriaSelezionata]="idCategoriaSelezionata"
        [immagineAttuale]="immagineAttuale"
        [Categorie]="Categorie"
      >
      </ricerche>
    </div>

    <div *ngIf="nuovaCategoriaSelezionata" class="bottoneChiusura" style="top: 70px !important;">
      <img src="assets/immagini/icons/piu.png" title="Crea nuova categoria" class="iconaMenu" (click)="creaNuovaCategoria()" />
    </div>  

    <div class="bottoneChiusura">
      <img src="assets/immagini/icons/elimina_quadrato.png" class="iconaMenu" (click)="mascheraNuoveCategorie = false" />
    </div>  
  </div>
  
  <div *ngIf="mascheraNomeNuovaCategoria" class="mascheraNomeNuovaCategoria ombra">
    <input type="text" [(ngModel)]="nomeNuovaCategoria" style="width: calc(90% - 100px); margin-top: 7px; margin-left: 3px;" />

    <div class="bottoneChiusura" style="right: 35px;">
      <img src="assets/immagini/icons/icona_SALVA.png" class="iconaMenu" (click)="salvaNuovaCategoria()" />
    </div>  

    <div class="bottoneChiusura">
      <img src="assets/immagini/icons/elimina_quadrato.png" class="iconaMenu" (click)="mascheraNomeNuovaCategoria = false" />
    </div>  
  </div>

  <div *ngIf="mascheraSistemazioni" class="mascheraSistemazioni ombra">
    Sistema Hash<br />
    Sistema Exif<br />
    Pulizia

    <div class="bottoneChiusura">
      <img src="assets/immagini/icons/elimina_quadrato.png" class="iconaMenu" (click)="mascheraSistemazioni = false" />
    </div>  
  </div>